<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body class="grey-bg">
    <%- include('nav.ejs') %>
    <form class="form-box" action="/update?imgLocation=<%= data['img'] %>&_method=PUT" method="POST" enctype="multipart/form-data">
       
        <h4>글수정</h4>
        <input style="display: none;" name="_id" value="<%= data['_id']%>">
        <input name="title" value="<%= data['title']%>">
        <input name="content" value="<%= data['content']%>">
        <input type="file" name="img1" accept="image/*">
        <button type="submit">전송</button>
     </form> 
</body>
</html>